  
  body {
    height: 100%;
    background: rgb(51, 51, 51);
    padding: 0;
    margin: 0;
   
  }

  @media (min-width : 1200px) {
    body {
      overflow: hidden;
    }
  }
  
    .handy_version {
      display: none;
    }
    .scroll-animations-example > .scrollsection {
     
      position: relative;
      padding: 10vh 10vh 10vh 10vmax;
      min-width: 1500vh;
    }
    .logo {
    
      
      color: #ecf0f1;
      font-family: "Abril Fatface", cursive;
      letter-spacing: 7px;
      text-transform: uppercase;
      transform: rotate(-90deg);
      position: absolute;
      top: 0;
      margin-top: 45vh;
     
    }
    .logo1 h1 {
      font-size: 5vh;
      margin-bottom: -10px;
    }
    .logo2 h1 {
      font-size: 20px;
    }
    .mission {
   
      height: 100vh;
      font-size: 36vh;
      color: #f39c12;
      text-transform: uppercase;
      font-family: "Playfair Display", serif;
      z-index: 2;
      position:relative;
      left: 50vh;
      top: -50px;
     
      
      
    }
    .line1 {
      
      position: absolute;
      top: -45vh;
      left: 60vh;
      height: 600px;
    }
    .line2 {
      
      position: absolute;
      top: -15vh;
      left: 60vh;
    }
    .line3 {

      position: absolute;
      top: 15vh;
      left: 80vh;
    }
    .menu {
      color: #ecf0f1;
      display: flex;
      width: 100px;
      align-items: flex-end;
      flex-direction: column;
      font-family: "Playfair Display", serif;
      text-transform: lowercase;
      font-size: 12px;
      position: absolute;
      bottom: 27vh;
    }
    .menu p {
      margin: 10px;
    }
    .cover_picure {
   
     
      position: absolute;
      left: 180vh;
      top: -10vw;
    
      z-index: 1;
      margin: 0;
    }
    .cover_picure img{
      height: 130vh;
      width: auto;
    }

    .presentation {
      position: absolute;
      width: 600px;
      height: 700px;
     
      top: 8vh;
      left: 380vh;
    }
    .aboutme {
      font-family: "Playfair Display", serif;
      width: 600px;
      z-index: 4;
      position: absolute;
      color: #ecf0f1;
      text-align: justify;
      top: 0;
      font-size: 20px;
      overflow-x: hidden;
      white-space: pre-wrap;
      white-space: -moz-pre-wrap;
      white-space: -pre-wrap;
      white-space: -o-pre-wrap;
      word-wrap: break-word;
    
    }
    .profil_photo {
     

      position:absolute;
      right: 0;
      top:340px; 
      z-index: 5;
      
    }
    .profil_photo img{
      width: 20vh;;
    }

    .photos {
      position: absolute;
      top: 0;
      height: 100vh;
      width: 900vh;

      left: 540vh;
    }
    .oxa {
      position: absolute;
      top: 5vh;
      width: 130vh;
      left: 0vh; /* Add 40vh to the left position */
    }
    
    .zoe {
      position: absolute;
      top: 5vh;
      width: 60vh;
      left: 170vh; /* Add 40vh to the left position */
    }
    
    .capoeira {
      position: absolute;
      top: 5vh;
      width: 55vh;
      left: 250vh;
      margin-right: 300px;/* Add 40vh to the left position */
    }
    .hannah {
      position: absolute;
      top: 5vh;
      width: 110vh;
      left: 350vh; /* Add 30vh to the left position */
      z-index: 5;
    }
    
    .rena {
      position: absolute;
      top: 5vh;
      width: 50vh;
      left: 430vh; /* Add 30vh to the left position */
      z-index: 6;
    }
    
    .schweizer {
      position: absolute;
      top: 5vh;
      width: 60vh;
      left: 4530vh; /* Add 30vh to the left position */
    }
    
    .lukas_spring {
      position: absolute;
      top: 5vh;
      width: 110vh;
      left: 500vh; /* Add 30vh to the left position */
    }
    
    .lukas {
      position: absolute;
      top: 5vh;
      width: 70vh;
      left: 590vh; /* Add 30vh to the left position */
    }
    
    .ed {
      position: absolute;

      top: 5vh;
      width: 100vh;
      left: 720vh; /* Add 30vh to the left position */
    }
    
    .asgeir {
      position: absolute;
      top: 5vh;
      width: 50vh;
      left: 840vh; /* Add 30vh to the left position */
    }

    .footer {
    
      font-family: "Playfair Display", serif;
      width: auto;
      height: 400px;
      z-index: 4;
      position: absolute;
      color: #ecf0f1;
      text-align: start;
      top: 7vh;
      font-size: 20px;
      overflow-x: hidden;
      
      left: 1460vh;
      text-decoration: none;
      
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      line-height: 3px;
    }
  


    
    .footer a {
      text-decoration: none;
      color: inherit;
    }
    .company,
    .adress,
    .contact {
      margin-bottom: 2px;
    }
    .telefone {
      margin-bottom: 80px;
    }

@media (max-width: 1200px) {
 
  .scroll-animations-example > .scrollsection {
    display: none;
    
  }
  .handy_version {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

  }
  #burger-menu {
    cursor: pointer;
    height: 27px;
    width: 27px;
    margin: 50px;
    overflow: hidden;
    position: relative;
    z-index:2;
    position: fixed;
    left: 0;
  }
  #burger-menu span,
  #burger-menu span:before,
  #burger-menu span:after {
    background: #fff;
    display: block;
    height: 4px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
  }
  #burger-menu span:before,
  #burger-menu span:after {
    content: "";
  }
  #burger-menu span {
    right: 0px;
    top: 13px;
    width: 27px;
  }
  #burger-menu span:before {
    left: 0px;
    top: -10px;
    width: 16px;
  }
  #burger-menu span:after {
    left: 0px;
    top: 10px;
    width: 20px;
  }
  
  #burger-menu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
  }
  #burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
  }
  #burger-menu.close span:after {
    top: 0px;
    left:0;
    transform: rotate(90deg);
    opacity:0;
    width:0;
  }
  
  #menu{
    z-index:1;
    min-width:100%;
    min-height:100%;
    position: fixed;
    top:0;
    left: 0;
    height:0;
    visibility: hidden;
    opacity: 0;
    text-align:center;
    padding-top:20px;
    transition: all 0.3s ease-in-out;
    
  }
  
  #menu.overlay{
    visibility: visible;
    opacity: 1;
    padding-top:100px;
    background:rgba(0, 0, 0, 1);
  }
  
  #menu li{
    list-style:none;
  }
  #menu a{
    color: #ecf0f1;
    display:block;
    font-size: 32px;
    margin-bottom:30px;
    text-decoration:none;
    margin-left: -10vw;
  }
  #menu a:hover {
    color: rgb(163, 30, 30)
  }
  .headline {
    overflow: hidden;
    width: 100%;

  }
  .handy-logo { 
    color: #ecf0f1;
    font-family: "Abril Fatface", cursive;
    letter-spacing: 7px;
    text-transform: uppercase;
    position: relative  ;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 130px;
    overflow: hidden;

  
   
  }
  .handy-logo1 h1 {
    font-size: 5vw;
    margin-bottom: 10px;
    overflow: hidden;
  } 
  .handy-logo2 h1 {
    font-size: 3.5vw;
    overflow: hidden;
  }
  .scroll-down {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10vw;
    opacity: 1;
    transition: opacity 0.5s;
  }
  .zeichen {
 
    width: 100px;
  }
  .handy-mission {
  
    overflow: hidden;
    font-size: 16vw;
    color: #f39c12;
    text-transform: uppercase;
    font-family: "Playfair Display", serif;
    margin-top: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
   
  
  }
  .firstline{
    position: absolute;

    white-space: nowrap;
    overflow: hidden;
    margin-top: 10vw;
    opacity: 0;
    transition: opacity 0.5s;

  }
  .secondline{
    position: absolute;
   
    white-space: nowrap;
    overflow: hidden;
    margin-top: 50vw;
    opacity: 0;
    transition: opacity 0.5s;
  }
  .thirdline{
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 90vw;
    opacity: 0;
    transition: opacity 0.5s;
  }

  .handy-rena {
    width: 80vw;
    opacity: 0;
    transition: opacity 0.5s;
    margin-top: 65vw;
  }

  .handy-aboutme {
    font-family: "Playfair Display", serif;
  
      z-index: 4;
      position: absolute;
      color: #ecf0f1;
      text-align: justify;
      top: 50px;
      overflow-x: hidden;
      white-space: pre-wrap;
      white-space: -moz-pre-wrap;
      white-space: -pre-wrap;
      white-space: -o-pre-wrap;
      word-wrap: break-word;
      margin-top: 275vw;
      width: 80vw;
  }
  .handy-eu img{
    width: 30vw;
    margin-top: 60vw;
    margin-left: 30vw;
  }
  

  .handy-photos {
    display: flex;
    align-items: ceneter;
    justify-content: center;
    flex-direction: column;
    width: 80vw;
    margin-top: 20vw;
    gap: 80px;
  }
  .handy-footer {
    margin-top: 15vw;
    font-family: "Playfair Display", serif;
    background-color: black;
    width: 100%;
    
    z-index: 4;
    position: absolute;
    color: #ecf0f1;
    text-align: justify;
    left: 0;
    font-size: 20px;
    overflow: hidden;
  

    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1px;
  }


  
  .handy-footer a {
    text-decoration: none;
    color: inherit;
  }
}
@media (max-width: 900px) {
  .handy-footer {
    font-size: 15px;
  }
 
 
}
.datenschutz-impressum {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}


















